<div class="container footer-container">
    <p>
        {{ site.name | escape }} -
        <a href="mailto:{{ site.email }}" target="_blank">{{ site.email | escape }}</a>
        {%- if site.footer_show_references -%}
        &nbsp;- References on request
        {%- endif -%}
    </p>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="assets/jquery.magnific-popup.min.js"></script>

<script>
    $(document).ready(function () {

        $('#testimonial-gallery-show-all').click(function(){
            $('.video-testimonial-gallery a').slice({{site.data.uiconfig.testimonials_to_show}}).toggle();
        });


        $('#certificate-gallery-show-all').click(function(){
            $('.certificate-gallery a').slice({{site.data.uiconfig.certificates_to_show}}).toggle();
        });

        $('.video-testimonial-gallery').magnificPopup({
            delegate: 'a',
            type: 'video',
            tLoading: 'Loading image #%curr%...',
            mainClass: 'mfp-img-mobile',
            gallery: {
                enabled: true,
                navigateByImgClick: true,
                preload: [0, 1] // Will preload 0 - before current, and 1 after the current image
            },
            image: {
                tError: '<a href="%url%">The image #%curr%</a> could not be loaded.'
            }
        });


        $('.certificate-gallery').magnificPopup({
            delegate: 'a',
            type: 'image',
            tLoading: 'Loading image #%curr%...',
            mainClass: 'mfp-img-mobile',
            gallery: {
                enabled: true,
                navigateByImgClick: true,
                preload: [0, 1] // Will preload 0 - before current, and 1 after the current image
            },
            image: {
                tError: '<a href="%url%">The image #%curr%</a> could not be loaded.',
            }
        });

    });

</script>
